#container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 2px;
    
}


#container div{
    height: 5rem;
    width: 5rem;
    background-color: rgb(23, 80, 80);
    color: rgb(248, 245, 245);
    border: 2px solid cadetblue;
    text-align: center;
}