


#container{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    background-color: var(--valuenull);
    align-items: center;
    height: 150%;
    
}

#container .row{
    display: flex;
    gap:0.3rem;
    align-items: center;
    padding: 0.2rem;
}

#container .row div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    
}

button{
    padding: 0.5rem;
    margin: 0.1rem;
    background-color: #fcbf49;
}

#container .row div{
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
    background-color: #fb8500;
    color: rgb(20, 2, 49);
    border: 2px solid rgb(197, 253, 255);
    text-align: center;
    border-radius: 10%;
}

header div{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-self: center;
    flex-basis: auto;
    justify-content: center;
}

header div h1{
    color:#fb8500;
    font-size: 3rem;
    margin-block-end: 0.4rem;
    margin-block-start: 0.8rem;

}

#score{
    margin: 1rem;
    padding: 1rem;
    background-color: #fcbf49; 
}

#best{
    margin: 1rem;
    padding: 1rem;
    background-color: #fcbf49; 
}

#start{
    background-color: #fcbf49; 
    padding: 1rem;
    margin: 1rem;
    border-radius: 10%;
    border:0.1rem solid beige;
    
}

body{
    user-select: none;
}

#win{
    display: none;
    font-size: 3rem;
    position: absolute;
    text-align: center;
    align-self: center;
    color: beige;
    opacity: 1;
}

#gameOver{
    display: none;
    font-size: 3rem;
    position: absolute;
    text-align: center;
    align-self: center;
    color: beige;
    opacity: 1;
    

}

#gameOver h2{
    margin-block-start: 0px;
    margin-block-end: 0px;
}

#gameOver p{
    font-size: 2rem;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

#gameOver button{
    color: beige;
    background-color: burlywood;
    font-size: 1rem;
    border-radius: 50%;
}

#win button{
    color: beige;
    background-color: burlywood;
    font-size: 1rem;
    border-radius: 50%;
}

#highscore{
    display:none;
    font-size: 3rem;
}

div{
    text-align: center;
}

body{
    background-color: #8ecae6;
}

